* {
	font-family: 'Montserrat';
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	color: black;
}









section {
	margin-bottom: 120px;
}

a {
	text-decoration: none;
}

h2 {
	font-size: 48px;
	font-weight: 700 !important;
	line-height: 54px;
	margin-bottom: 30px;
}

h4 {
	font-size: 20px;
	font-weight: 600;
}

.text-center {
	text-align: center;
}

header,
footer,
section {
	padding: 0 140px
}

header {
	height: 80px;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
}

nav ul {
	display: flex;
	align-items: center;
	gap: 28px;
}

nav ul li {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
}


nav ul li select {
	border: none;
	outline: none;
	font-size: 16px;
	font-weight: 500;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-right: 20px;
	background-image: url('images/arrow.svg');
	background-repeat: no-repeat;
	background-position: right 12px center;

	padding: 8px 12px;
	width: calc(100% + 24px);
	border-radius: 8px;
}

nav ul li a {
	position: relative;
}

nav ul li a:hover {
	color: #000;
}

nav ul li a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 0%;
	height: 2px;
	background-color: #000;
	transition: width 0.3s ease;
}

nav ul li a:hover::after {
	width: 100%;
}







header .login-register-buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;

}

.btn {
	display: block;
	padding: 10px 20px;
	border: 1px solid black;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	border-radius: 12px;
	color: #000000;
	cursor: pointer;
}

.btn:hover {
	color: white;
	background-color: black;
}

.register-btn {
	background-color: black;
	color: white;
	transition: 300ms all;
}

.register-btn:hover {
	color: black;
	background-color: white;
}

.more-btn {
	/* width: 116px; */
	height: 44px;
	padding: 10px 20px;
	border-radius: 12px;
	border: 1px solid #D9D9D9;
	cursor: pointer;
	margin: auto;
	margin-top: 60px;
	background-color: transparent;


	font-size: 16px;
	font-weight: 500;
	line-height: 24px;

}

.more-btn:hover {
	background-color: #D9D9D9;
}


/* Hero Section */
#hero-section {
	background-image: url(images/hero-img.png);
	height: 600px;
}

#hero-section .content {
	position: relative;
	top: 30%;
	max-width: 822px;
}

#hero-section .content p {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
}

#hero-section .content p {
	color: white;
}

#hero-section .content h2 {
	color: white;
}


/* Category Section */
#category-section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#category-section .box-container {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	width: 712px;
	flex-wrap: wrap;

}

#category-section .box-container .box {
	width: 160px;
	height: 100px;
	border-radius: 12px;
	background: #FAFAFA;
	filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.05));
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 300ms all;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}

#category-section .box-container .box:hover {
	filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.2));
}

h5 {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 25px;
}

/* Exam Section */
#exam-section .wrapper {
	display: flex;
	justify-content: space-between;
	gap: 40px;
	margin-top: 60px;
}

#exam-section .wrapper .filter {
	display: flex;
	flex-direction: column;
	gap: 24px;
	background: #FAFAFA;
	padding: 28px;
	width: 350px;
	height: 100%;
}

#exam-section .wrapper .filter ul li {
	margin-top: 12px;
	width: 100%;
	height: 44px;
	background: #F5F5F5;
	border: none;
	transition: 250ms all;
	font-weight: 400;
}

#exam-section .wrapper .filter ul li:hover,
#exam-section .wrapper .filter ul li.active {
	background: black;
	color: white;
}

#exam-section .wrapper .filter p {
	font-size: 14px;
	font-weight: 400;
	color: #646464;
	padding: 10px 0;
}

#exam-section .wrapper .exam-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
	flex: 1;
}




/* styles.css */
.exam-block {
	padding: 28px;
	background-color: #FAFAFA;
	min-width: 373px;
	height: 394px;
	border-radius: 12px;
	flex: 1;
}

.exam-title {
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;

}

.exam-metadata {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 28px 0;
	font-size: 14px;
}

.exam-metadata .duration {
	display: flex;
	align-self: center;
	gap: 10px;
	font-weight: 400;
	color: #323232;
}

.exam-metadata .rating-star {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 2px
}

.exam-metadata .rating .review-count::before {
	content: "";
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #000;
	vertical-align: middle;
	margin: 0 8px;
	margin-bottom: 4px;
}

.exam-block ul {
	margin: 16px 0;
}

.exam-block ul li {
	font-size: 14px;
	font-weight: 400;
	color: #323232;
	line-height: 30px;
}

.exam-block ul li::before {
	content: "";
	display: inline-block;
	width: 2px;
	height: 2px;
	background: #323232;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
}

.divider {
	width: 100%;
	height: 1px;
	background-color: #D9D9D9;
	margin: 18px 0;
}


.reviews {
	margin-left: 10px;
	color: #777;
}


.grade-levels {
	display: flex;
	gap: 12px
}

.grade-levels .tag {
	line-height: 22px;
	padding: 4px 16px;
	border-radius: 12px;
	background: #D9D9D9;
	font-size: 14px;
	font-weight: 500;
}

.price-btn {
	margin-top: 28px;
	background: transparent;
	width: 100%;
}

footer {
	background-color: #FAFAFA;
	margin-bottom: 20px;
}

footer .footer-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 40px;
	padding-bottom: 40px;
}

footer .footer-top select {
	background-color: #D9D9D9;
}

footer .icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: #E9E9E9;
	padding: 16px;
}

footer .email,
.phone {
	display: inline-flex;
	align-items: center;
	gap: 10px;
}

footer .phone {
	margin-top: 20px;
}

footer .social-media {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
}

footer .copyright {
	font-size: 14px;
	font-weight: 400;
}


header,
footer,
section {
	padding: 0 140px
}

@media (max-width: 1440px) {
	header,
	footer,
	section {
		padding: 0 60px
	}
}
@media (max-width: 768px) {
	header,
	footer,
	section {
		padding: 0 20px
	}
}